p {
	color: white;
	font-weight: bold;
	text-align: left;
	text-decoration: underline;
	text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
	
}

ol {
	color: Red;
	text-decoration: underline;
}

ul {
	color: green;
	text-decoration: underline;
}